.loadingOverlay {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    i.fa{
        font-size: 60px;
    }
}

.middleContent{
    margin-top: 10px;
}