.personal-info{
    text-align: center;
}

.editp{
    text-align: center;
}

.formcenter {
    width: 50% 50%;
}

.edit-title {
    float: left;
}

.btnsave{
    background-color: rgb(255, 204, 0);
    color: black;
    border-color: gray;
}