.footer{
    border-top: 1px solid $gray-shadow;
    vertical-align: middle;
    .links{
        ul{
            padding-left: 20px;
        }
        text-align: left;
    }
    .copyright{
        text-align: right;
    }
    .socialButtons{
        float: right;
        padding-right: 20px;
        [class*="fa fa-"] {
            background-color: #007bff;
            border-radius: 35px;
            color: #fff;
            display: inline-block;
            height: 35px;
            line-height: 35px;
            margin: auto;
            font-size: 30px !important;
            width: 35px;
            text-align: center;
            :hover{
                background-color: #212529;
            }
        }
    }
    .no-list-style{
        li{
            background: $light-gray;
            a{
                :link{
                color: $primary-blue;
                }
                
                :visited{
                    color: $primary-blue;
                }
                
                :active{
                    color: $primary-blue;
                }
            }
        }
        .fa{
            font-size: 2.5em;
        }
    }
}
