.footer{
    border-top: 1px solid $gray-shadow;
    .no-list-style{
        li{
            background: $light-gray;
            a{
                :link{
                color: $primary-blue;
                }
                
                :visited{
                    color: $primary-blue;
                }
                
                :active{
                    color: $primary-blue;
                }
            }
        }
        .fa{
            font-size: 2em;
        }
    }
}