body {
  height: 100px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  
}
.carousel .im {
  width: auto;
  background-color: #000;
  height: 500px;
  
  @include media-breakpoint-down(sm){
    display:none;
  }
}