.card.currencyCard{
    padding: 0;
    margin: 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    @include media-breakpoint-down(md){
        background: #212529;
    }
    
    a,a:visited,h5{
        color: yellow;
    }
    
    i{
        float:right;
    }
}

.tableData.table-dark{
    th{
        font-size: 18px;
        font-weight: 300;
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}