//Include Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald');

//Include Partials
@import '~bootstrap/scss/bootstrap.scss';
@import 'components/variables';
@import 'components/header';
@import 'components/navbar';
@import 'components/footer';
@import 'components/main';
@import 'components/adbar';
@import 'components/alert';
@import 'components/ticker';
@import 'components/dataarea';
@import 'components/home';
@import 'components/login';
@import 'components/register';
@import 'components/profile';


body{
    font-family: 'Oswald', sans-serif;
}


#app{
    margin-top:65px;   //make app appear just below the navbar
    padding-top:10px;
    @media only screen and (max-width: 768px){
        margin-bottom: 25px;
    }
}


.no-list-style{
    list-style-type: none;
    margin-bottom: 0;
}

.navbar, .footer{
    @extend .no-list-style;
    li{
        display: inline-block;
    }
    .nav-link{
        padding: 10px;
    }
}



.errorFrame{
    text-align: center;
}


